# Problem 2 - A/B Test

In [1]:
# Initial imports
import pandas as pd

In [2]:
# Loading in the data
sent_data = pd.read_excel('A-B Test.xlsx', sheet_name='Sent')
donations_data = pd.read_excel('A-B Test.xlsx', sheet_name='Donations')

In [3]:
# First 5 rows of sent_data
sent_data.head()

   SendID  EmailID
0   44250    46710
1   44252    46711
2   44252    46712
3   44916    46713
4   44915    46714

In [4]:
# First 5 rows of donations_data
donations_data.head()

  DonationDate  EmailID
0   2020-11-01        1
1   2020-11-01        2
2   2020-11-01        3
3   2020-11-01        4
4   2020-11-01        5

In [5]:
# Getting all of the "A" test emails
A_emails = sent_data.loc[sent_data["SendID"] == 44916]
A_emails.head()

    SendID  EmailID
3    44916    46713
5    44916    46715
8    44916    13811
9    44916    46718
10   44916    46719

In [6]:
# Total number of A emails
print(len(A_emails))

121112

In [7]:
# Getting all of the "B" test emails
B_emails = sent_data.loc[sent_data["SendID"] == 44915]
B_emails.head()

    SendID  EmailID
4    44915    46714
6    44915    46716
7    44915    46717
11   44915    46720
13   44915    46721

In [8]:
# Total number of B emails
print(len(B_emails))

121121

In [9]:
# Finding the number of donation email IDs that were also in A_emails or B_emails
A_count = []
B_count = []
for i in donations_data["EmailID"]:
    if i in A_emails["EmailID"]:
        A_count.append(i)
    if i in B_emails["EmailID"]:
        B_count.append(i)
        
print(len(A_count))
print(len(B_count))

38448
37966

In [12]:
# Calculating and printing out donation rates for each group
A_donation_rate = (38448/121112) * 100
B_donation_rate = (37966/121121) * 100

print(f"A emails donation rate: {round(A_donation_rate, 2)}%")
print(f"B emails donation rate: {round(B_donation_rate, 2)}%")

A emails donation rate: 31.75%
B emails donation rate: 31.35%

# Based on the donation rates, I concluded that the A email group was the winner