# Problem 1 - Telecom Data

In [1]:
# Initial imports
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Loading in the train data
train_data = pd.read_excel('Telecom_Data_HW.xlsx', sheet_name='Train')
train_data.head()

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,OH,107,area_code_415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,no
1,NJ,137,area_code_415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,no
2,OH,84,area_code_408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,no
3,OK,75,area_code_415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,no
4,MA,121,area_code_510,no,yes,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,no

In [3]:
# train_data information
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3828 entries, 0 to 3827
Data columns (total 20 columns):
state                            3828 non-null object
account_length                   3828 non-null int64
area_code                        3828 non-null object
international_plan               3828 non-null object
voice_mail_plan                  3828 non-null object
number_vmail_messages            3828 non-null int64
total_day_minutes                3828 non-null float64
total_day_calls                  3828 non-null int64
total_day_charge                 3828 non-null float64
total_eve_minutes                3828 non-null float64
total_eve_calls                  3828 non-null int64
total_eve_charge                 3828 non-null float64
total_night_minutes              3828 non-null float64
total_night_calls                3828 non-null int64
total_night_charge               3828 non-null float64
total_intl_minutes               3828 non-null float64
total_intl_calls                 3828 non-null int64
total_intl_charge                3828 non-null float64
number_customer_service_calls    3828 non-null int64
churn                            3828 non-null object
dtypes: float64(8), int64(7), object(5)
memory usage: 598.2+ KB

In [4]:
# Dropping any possible null values
train_data = train_data.dropna()

In [5]:
# Data information
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3828 entries, 0 to 3827
Data columns (total 20 columns):
state                            3828 non-null object
account_length                   3828 non-null int64
area_code                        3828 non-null object
international_plan               3828 non-null object
voice_mail_plan                  3828 non-null object
number_vmail_messages            3828 non-null int64
total_day_minutes                3828 non-null float64
total_day_calls                  3828 non-null int64
total_day_charge                 3828 non-null float64
total_eve_minutes                3828 non-null float64
total_eve_calls                  3828 non-null int64
total_eve_charge                 3828 non-null float64
total_night_minutes              3828 non-null float64
total_night_calls                3828 non-null int64
total_night_charge               3828 non-null float64
total_intl_minutes               3828 non-null float64
total_intl_calls                 3828 non-null int64
total_intl_charge                3828 non-null float64
number_customer_service_calls    3828 non-null int64
churn                            3828 non-null object
dtypes: float64(8), int64(7), object(5)
memory usage: 628.0+ KB

In [6]:
# Dropping any possible duplicates
train_data = train_data.drop_duplicates()

In [7]:
# Data Information
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3828 entries, 0 to 3827
Data columns (total 20 columns):
state                            3828 non-null object
account_length                   3828 non-null int64
area_code                        3828 non-null object
international_plan               3828 non-null object
voice_mail_plan                  3828 non-null object
number_vmail_messages            3828 non-null int64
total_day_minutes                3828 non-null float64
total_day_calls                  3828 non-null int64
total_day_charge                 3828 non-null float64
total_eve_minutes                3828 non-null float64
total_eve_calls                  3828 non-null int64
total_eve_charge                 3828 non-null float64
total_night_minutes              3828 non-null float64
total_night_calls                3828 non-null int64
total_night_charge               3828 non-null float64
total_intl_minutes               3828 non-null float64
total_intl_calls                 3828 non-null int64
total_intl_charge                3828 non-null float64
number_customer_service_calls    3828 non-null int64
churn                            3828 non-null object
dtypes: float64(8), int64(7), object(5)
memory usage: 628.0+ KB

# Machine Learning - Logistic Regression Approach

In [8]:
# My first approach will be with a logistic regression model. The first thing I need to do is encode the data
from sklearn.preprocessing import LabelEncoder
train_data_encoded = train_data.apply(LabelEncoder().fit_transform)
train_data_encoded.head()

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,35,106,1,0,1,20,707,84,707,792,63,706,1337,65,721,116,3,116,1,0
1,31,136,1,0,0,0,1427,75,1427,178,70,169,485,66,311,101,5,101,0,0
2,35,83,0,1,0,0,1709,32,1709,17,48,17,811,51,465,45,7,45,2,0
3,36,74,1,1,0,0,752,74,752,365,82,335,714,83,420,80,3,80,3,0
4,19,120,2,0,1,18,1217,49,1217,1682,68,1492,956,80,535,54,7,54,3,0

In [9]:
# assigning y 
y = train_data_encoded["churn"]

In [10]:
# Assigning X
X = train_data_encoded.drop("churn", axis=1)
X.head()

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
0,35,106,1,0,1,20,707,84,707,792,63,706,1337,65,721,116,3,116,1
1,31,136,1,0,0,0,1427,75,1427,178,70,169,485,66,311,101,5,101,0
2,35,83,0,1,0,0,1709,32,1709,17,48,17,811,51,465,45,7,45,2
3,36,74,1,1,0,0,752,74,752,365,82,335,714,83,420,80,3,80,3
4,19,120,2,0,1,18,1217,49,1217,1682,68,1492,956,80,535,54,7,54,3

In [11]:
# Import train_test_split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [12]:
# Create classifier
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [13]:
# Fit the training data
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [14]:
# Printing the training and testing scores
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8718216649251131
Testing Data Score: 0.8631138975966562

In [15]:
# Model summary
import statsmodels.api as sm
logit_model=sm.Logit(y,X)
result = logit_model.fit(method='bfgs')
print(result.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.332286
         Iterations: 35
         Function evaluations: 51
         Gradient evaluations: 44
                           Logit Regression Results
==============================================================================
Dep. Variable:                  churn   No. Observations:                 3828
Model:                          Logit   Df Residuals:                     3811
Method:                           MLE   Df Model:                           16
Date:                Thu, 25 Mar 2021   Pseudo R-squ.:                  0.1766
Time:                        15:17:22   Log-Likelihood:                -1272.0
converged:                      False   LL-Null:                       -1544.9
                                        LLR p-value:                6.962e-106
=================================================================================================
                                    coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
state                            -0.0046        nan        nan        nan         nan         nan
account_length                   -0.0028        nan        nan        nan         nan         nan
area_code                         0.0047        nan        nan        nan         nan         nan
international_plan                1.9976        nan        nan        nan         nan         nan
voice_mail_plan                  -0.6291        nan        nan        nan         nan         nan
number_vmail_messages            -0.0136        nan        nan        nan         nan         nan
total_day_minutes                 0.0006        nan        nan        nan         nan         nan
total_day_calls                  -0.0054        nan        nan        nan         nan         nan
total_day_charge                  0.0006        nan        nan        nan         nan         nan
total_eve_minutes                 0.0479        nan        nan        nan         nan         nan
total_eve_calls                  -0.0098        nan        nan        nan         nan         nan
total_eve_charge                 -0.0548        nan        nan        nan         nan         nan
total_night_minutes               0.0126        nan        nan        nan         nan         nan
total_night_calls                -0.0089        nan        nan        nan         nan         nan
total_night_charge               -0.0243        nan        nan        nan         nan         nan
total_intl_minutes                0.0005        nan        nan        nan         nan         nan
total_intl_calls                 -0.1066        nan        nan        nan         nan         nan
total_intl_charge                 0.0005        nan        nan        nan         nan         nan
number_customer_service_calls     0.4630        nan        nan        nan         nan         nan
=================================================================================================

/Applications/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:488: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)
/Applications/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

# Machine Learning - Decision Tree/Random Forest Approach

In [16]:
# My second approach will be a decision tree/random forest approach
feature_names = train_data_encoded.columns

In [17]:
# Importing tree and creating the model
from sklearn import tree
tree_classifier = tree.DecisionTreeClassifier()
tree_classifier = clf.fit(X_train, y_train)
tree_classifier.score(X_test, y_test)

0.9111807732497388

In [18]:
# Importing RandomForestClassifier and creating the model
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9487983281086729

In [19]:
# Most important features
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.14984212813132294, 'total_day_minutes'),
 (0.1395821076476108, 'total_day_charge'),
 (0.10859290056537159, 'number_customer_service_calls'),
 (0.09184029401411654, 'international_plan'),
 (0.060749439145834805, 'total_eve_minutes'),
 (0.059676160453638286, 'total_eve_charge'),
 (0.05263615074005301, 'total_intl_calls'),
 (0.042909122654591354, 'total_intl_charge'),
 (0.040714296024720716, 'total_intl_minutes'),
 (0.036362478543078565, 'total_night_minutes'),
 (0.03266078688547145, 'total_night_charge'),
 (0.029240084756178123, 'total_day_calls'),
 (0.02788134778538187, 'account_length'),
 (0.02782038215966275, 'total_night_calls'),
 (0.026116322493629194, 'number_vmail_messages'),
 (0.025583436151046746, 'state'),
 (0.02459505266820079, 'total_eve_calls'),
 (0.01653985952404773, 'voice_mail_plan'),
 (0.006657649656042827, 'area_code')]

In [20]:
# Creating predictions
y_pred = rf.predict(X_test)

In [21]:
# Comparing predictions with actual results
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
df.head()

      Actual  Predicted
2343       0          0
3248       1          1
194        0          0
17         0          0
3214       0          0

# Testing Data

In [22]:
# Loading in the test data
test_data = pd.read_excel('Telecom_Data_HW.xlsx', sheet_name='Test')
test_data.head()

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
0,RI,74,area_code_415,no,no,0,187.7,127,31.91,163.4,148,13.89,196.0,94,8.82,9.1,5,2.46,0
1,OK,57,area_code_408,no,yes,25,176.8,94,30.06,195.0,75,16.58,213.5,116,9.61,8.3,4,2.24,0
2,WV,111,area_code_510,no,no,0,214.3,118,36.43,208.5,76,17.72,182.4,98,8.21,12.0,2,3.24,1
3,ID,77,area_code_415,no,no,0,251.8,72,42.81,205.7,126,17.48,275.2,109,12.38,9.8,7,2.65,2
4,MI,36,area_code_510,no,yes,29,281.4,102,47.84,202.2,76,17.19,187.2,113,8.42,9.0,6,2.43,2

In [23]:
# Adding a churn prediction column to the test data
test_data["Churn Prediction"] = pd.Series(rf.predict(X_test))

In [24]:
# First 5 rows of test_data
test_data.head()

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,Churn Prediction
0,RI,74,area_code_415,no,no,0,187.7,127,31.91,163.4,148,13.89,196.0,94,8.82,9.1,5,2.46,0,0
1,OK,57,area_code_408,no,yes,25,176.8,94,30.06,195.0,75,16.58,213.5,116,9.61,8.3,4,2.24,0,1
2,WV,111,area_code_510,no,no,0,214.3,118,36.43,208.5,76,17.72,182.4,98,8.21,12.0,2,3.24,1,0
3,ID,77,area_code_415,no,no,0,251.8,72,42.81,205.7,126,17.48,275.2,109,12.38,9.8,7,2.65,2,0
4,MI,36,area_code_510,no,yes,29,281.4,102,47.84,202.2,76,17.19,187.2,113,8.42,9.0,6,2.43,2,0

In [27]:
# Converting back to dataframe after adding in a series
test_data = pd.DataFrame(test_data)
test_data.head()

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,Churn Prediction
0,RI,74,area_code_415,no,no,0,187.7,127,31.91,163.4,148,13.89,196.0,94,8.82,9.1,5,2.46,0,0
1,OK,57,area_code_408,no,yes,25,176.8,94,30.06,195.0,75,16.58,213.5,116,9.61,8.3,4,2.24,0,1
2,WV,111,area_code_510,no,no,0,214.3,118,36.43,208.5,76,17.72,182.4,98,8.21,12.0,2,3.24,1,0
3,ID,77,area_code_415,no,no,0,251.8,72,42.81,205.7,126,17.48,275.2,109,12.38,9.8,7,2.65,2,0
4,MI,36,area_code_510,no,yes,29,281.4,102,47.84,202.2,76,17.19,187.2,113,8.42,9.0,6,2.43,2,0

# I used the random forest model as the predictor instead of the logistic regression model due to a higher accuracy. 0 = No and 1 = Yes